.searchedThumbnails {
  width: 320px;
}

.imageBox {
  text-align: center;
  width: 320px;
}

.channelProfile {
  border-radius: 50%;
  width: 50%;
}

.detailedThumbnails {
  width: 168px;
  height: 94px;
}
