.menuBar {
  float: left;
  position: fixed;
  top: 59px;
  left: 0px;
  bottom: 0px;
  width: 240px;
  height: 100%;
  padding: 12px 0px 12px 0px;
  z-index: 2;
}

.menuBarClosed {
  width: 72px;
}

.menu {
  height: 40px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.menuClosed {
  height: 74px;
  flex-direction: column;
  justify-content: center;
}

.menuCharClosed {
  font-size: 10px;
  text-align: center;
}

.menuIcon {
  margin-right: 24px;
}

.menuIconClosed {
  margin: 0px 0px 6px 0px;
}

@media (max-width: 800px) {
  .menuBar,
  .menuBarClosed {
    display: none;
    width: 0px;
  }
}
.channelTitle,
.elapsedTime,
.description {
  color: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
  .menuBar {
    background-color: rgba(33, 33, 33, 0.98);
    color: white;
  }
  .menuHome {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .menu:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: light) {
  .menuBar {
    background-color: white;
    color: black;
  }
  .menuHome {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .menuHomeIcon {
    fill: red;
  }
  .menuCharHome {
    color: red;
  }
  .menu:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
