.body {
  height: 100%;
  position: static;
  top: 59px;
}

@media (prefers-color-scheme: dark) {
  .body {
    background-color: #181818;
  }
}

@media (prefers-color-scheme: light) {
  .body {
    background-color: #f9f9f9;
  }
}
