.video {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4 - 24px);
  margin: 0px 8px 40px 8px;
}

.video:hover,
.searchedVideo:hover {
  cursor: pointer;
}

.videoClosed {
  width: calc(100% / 5 - 24px);
}

.channelTitle,
.elapsedTime,
.description {
  color: #aaaaaa;
  margin: 0px;
  padding: 1px;
}

/* searched */
.searchedVideo {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.videoInfoSearched {
  width: 55%;
  margin-left: 14px;
  font-size: 13px;
}

.searchedThumbnails {
  width: 320px;
}

.imageBox {
  text-align: center;
  width: 320px;
}

.channelProfile {
  border-radius: 50%;
  width: 50%;
}

.searchedTitle {
  color: white;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}

.description {
  margin-top: 14px;
  margin-bottom: 14px;
}

.newVideoTag {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: #aaaaaa;
  font-size: 12px;
  padding: 0px 3px 0px 3px;
}
