.videoInfo {
  padding: 0px 24px 0px 0px;
  font-size: 14px;
}

.videoInfoInDetailView {
  width: 66%;
  font-size: 12px;
  padding-left: 10px;
  margin: 0px;
}

.title {
  color: white;
  margin: 12px 0px 6px 0px;
  font-weight: bold;
  /* for ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.titleInSearchedView {
  margin-top: 0px;
}

.titleInDetailView {
  margin: 0px;
}

.channelTitle,
.elapsedTime,
.description {
  margin: 0px;
  padding: 1px;
}

.videoInfoSearched {
  width: 55%;
  margin-left: 14px;
  font-size: 13px;
}

.searchedTitle {
  color: white;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}
/* 
@media (max-width: 1300px) {
  .videoInfoInDetailView {
    width: 500px;
    background-color: red;
  }
} */

@media (max-width: 1200px) {
  .description {
    /* for ellipsis */
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .description {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .title {
    color: white;
  }
  .channelTitle,
  .elapsedTime,
  .description {
    color: #aaaaaa;
  }
}

@media (prefers-color-scheme: light) {
  .title {
    color: black;
  }
  .channelTitle,
  .elapsedTime,
  .description {
    color: #606060;
  }
}
