.video {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4 - 24px);
  margin: 0px 8px 40px 8px;
}

.videoInfo {
  padding: 0px 24px 0px 0px;
}

.title {
  color: white;
  margin: 12px 0px 6px 0px;
  font-weight: normal;
}

.channelTitle,
.elapsedTime {
  color: #aaaaaa;
  margin: 0px;
  padding: 1px;
}
