.videoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 83px 0px 0px 240px;
}

.videoListClosed {
  padding: 83px 0px 0px 72px;
}

.videoListInDetailView {
  padding: 83px 24px 0px 24px;
}

@media (max-width: 800px) {
  .videoList {
    padding-left: 0px;
  }
  .videoListClosed {
    padding-left: 0px;
  }
  .videoListInDetailView {
    padding-left: 0px;
    padding-right: 0px;
  }
}
