.videoDetail {
  margin: 0px;
  width: 65%;
  float: left;
  margin-top: 84px;
  margin-left: 48px;
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.videoInfoBoxInDetailView {
  display: flex;
}

.videoInfoBoxLeftSide {
  width: 95%;
}

.bar {
  width: 100%;
  height: 1px;
}

.description {
  margin-right: 120px;
}

.descriptionInLearnMore {
  height: 54px;
  overflow: hidden;
  margin-right: 120px;
}

.learnMoreButton {
  background-color: transparent;

  border: none;
  padding: 0px;
  font-size: 14px;
  margin-bottom: 14px;
}

@media (max-width: 1430px) {
  .videoDetail {
    width: 60%;
  }
}

@media (max-width: 1300px) {
  .videoDetail {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .videoDetail {
    width: 90%;
    vertical-align: center;
    margin-left: 5%;
  }
}

@media (prefers-color-scheme: dark) {
  .learnMoreButton,
  .elapsedTime {
    color: #aaaaaa;
  }
  .videoInfo {
    color: white;
  }
  .bar {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media (prefers-color-scheme: light) {
  .learnMoreButton,
  .elapsedTime {
    color: #606060;
  }
  .bar {
    background-color: #cccccc;
  }
}
